html{
	width: 100%;
}

* {
	box-sizing: border-box;
}
p,h1,h2,h3,h4,h4,h6,div,span {
	font-family:PingFangSC-Regular,sans-serif,Microsoft JhengHei;	
}

p {
	font-size: 16px;
}

<!-- CSS -->
.navbar-brand img {
	height: 50px;
}

@media (min-width: 768px) {
/*nav選單*/
	.navbar{
	padding-left:50px!important;
	padding-right:50px!important; 
	background-color: #FADCDA;
}
}

<!-- CSS -->
.banner {
	margin-top: 76px;
}

.banner .container-fluid {
	padding:0!important;
}

.banner img {
	max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: relative;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;

}


<!-- CSS -->
.about {
	padding:100px 0;
	background:linear-gradient(#ffffff,#F0E5DE); 
}

.about img {
	box-shadow:2px 2px 4px gray;
}

.title {
	font-size:20px;
	font-weight: bold;
	font-family: "New Times Roman";
	margin-top: 80px;
}

.title_line {
	border-color:#ffffff;
}

.story {
	font-size: 18px;
}

.story span {
	font-family: "New Times Roman";
	font-size: 30px;
	display: block;
	font-weight: bold;
}
.title_line {
	margin-bottom: 50px;
}


<!-- CSS -->

#section2 {

}

.product {
	padding-bottom:150px;
}
.product .card {
	background-color: #ffffff;
	padding: 20px 10px;
	margin-bottom: 10px;
}
.product img {
	width:100%;
	margin-bottom:20px;
}

.product img:hover {
	opacity: 0.8;
}
.product_name {
	font-size: 15px;
	padding: 10px;
}


<!-- CSS -->

#section3 {
}

.contact {
	height:750px;
	background-image: url(../img/contact_bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: top center;
}

.contact .title {
	font-size:20px;
	font-weight: bold;
	font-family: "New Times Roman";

}

.contact .form {
	max-width: 600px;
	margin:0 auto;
	padding: 0 30px;
	color:#ffffff;
}

.form input {
	height: 40px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	border:0px;
	padding: 12px;
	resize: vertical;
	color: #000000;
	margin:7.5px 0;
}

.form textarea {
	height: 200px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	border:0px;
	padding: 12px;
	resize: vertical;
	color: #000000;
	margin:7.5px 0;
}

input[type=submit] {
  background-color: #ABD0CE;
  color: white;
  cursor: pointer;
  width: 100px!important;
  height: 48px;
}

input[type=submit]:hover {
  background-color: #8ABCB8;
}

<!-- CSS -->
footer {
	background-color: #c1adad;
	padding:20px 0; 
}

footer p {
	line-height: 39px;
}

footer .row {
	margin-top: 20px;
}

.about-img{
	width: 100%;

}

















